<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SleepAmp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="SleepAmp" name="description" />
    <meta content="SleepAmp" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <%= yield%>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>

